body{
    margin: 0;
    background-color: #f2f2f2;
}
a {
    text-decoration: none; 
    color: inherit; 
}

/* header*/



header #cabecalho,
#introducao,
#sobremim,
#skils,
#projetos{
    margin: 0rem 13rem 10rem;
    
}
