body{
    margin: 0;
    background-color: #f2f2f2;
}
a {
    text-decoration: none; 
    color: inherit; 
}

/* header*/
header{
    padding: 1rem 0 0 0;
    background-color: #f2f2f2;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);;
}


header #cabecalho,
#introducao,
#sobremim,
#skils{
    margin: 0rem 13rem 10rem;
    
}

header div{
    display: flex;
    justify-content: space-between;
}

header h1{
    margin: 0;
    font: 2rem Boldonse;
    color: #4D6A6D;
    font-size: 1.5rem;
}
header h2{
    padding-top: .8rem;
    margin: 0;
    margin-left: 1rem;
    font: 1.5rem Blinker;
    color: #4D6A6D;
    font-size: 1.5rem;
}

header ul{
    display: flex;
    margin: 0;
    padding: 0;
}

header li{
    margin: 0 1rem;
    list-style: none;
    font: 1.5rem Blinker;
    color: #4D6A6D;
    cursor: pointer;
    position: relative;
    padding-top: 10px;
}

header li::after {
    content: ""; 
    position: absolute;
    left: 0;
    bottom: 0.4rem; 
    width: 0;
    height: 0.125rem; 
    background-color: #4D6A6D; 
    transition: width 0.3s ease-in-out;
}

header li:hover::after {
    width: 100%; 
}

/*main*/
main {
    margin-top: 5rem;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    gap: 2rem; 
}

main div.texto {
    max-width: 50%; 
}

main h1 {
    font: bold 2.5rem "Bowlby One SC", sans-serif;
    color: #4D6A6D;
    margin-bottom: 1rem;
}

main h2 {
    font: 1.5rem "Blinker", sans-serif;
    color: #4D6A6D;
    line-height: 1.6;
    text-align: justify;
}

main h3 {
    font: bold 1.2rem "Blinker", sans-serif;
    color: #4D6A6D;
    margin-top: 2rem;
}

main a {
    display: inline-block;
    background-color: #4D6A6D;
    padding: 10px 20px;
    margin-top: 1rem;
    border-radius: 0.25rem;
    color: #D0DDD7;
    font: 1.2rem "Blinker", sans-serif;
    text-decoration: none;
}

main a:hover {
    background-color: #2A3A3C;
    color: #D0DDD7;
}

main img {
    width: 40%; 
    max-width: 550px;
}

#sobremim h1{
    font: 2.5rem "League Spartan";
    color: #4D6A6D;
    margin-bottom: 6rem;
}

#sobremim .sobreMimConteudo{
    margin: 0 3rem;
    display: inline-grid;
    grid-template-columns: 1fr 2fr;
}

#sobremim p{
    text-align: justify;
    font: 1.4rem Blinker;
    color: #4D6A6D;
}
#sobremim span{
    color: #2A3A3C;
}
#linhadotempo{
    display: block;
    margin: auto auto;
}

#skilsconteudo{
    display: flex;
    justify-content: center;
}

#skils h1{
    font: 2.5rem "League Spartan";
    color: #4D6A6D;
    margin-bottom: 6rem;
}

#skils #listaprincipal{
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}
#skils #listasecundaria{
    display: flex;
    gap: .5rem;

}

#skils ul{
    padding: 0;
    margin: 0 !important;
}

#skils li{
    list-style: none;

}

#skils #listaprincipal:first-child{
    margin-right: 2rem;

}
#skils #listaprincipal:nth-child(2){
    margin-right: 2rem;
}

#skils li:last-child{
    margin-right: none;
}

#skils .imgDecorativa{
    max-width: 10rem;
    margin-bottom: 1.3125rem;
}

#imgC{
margin-top: 1rem;
   margin-bottom: 2.49rem !important; 
}

#skils a{
    display: inline-block;
    background-color: #4D6A6D;
    padding: 10px 26.283px;
    margin-top: 1rem;
    border-radius: 0.25rem;
    color: #D0DDD7;
    font: 1.2rem "Blinker", sans-serif;
    text-decoration: none;
}

#skils a:hover{
    background-color: #2A3A3C;
    color: #D0DDD7;
}