footer{
    background-color: #4D6A6D;
    margin-bottom: 0px!important;
    position: sticky;
}
#footerConteudo{
    padding: 1.5rem 0 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer ul{
    display: flex;
    margin: 0;
    padding: 0;
}

footer li{
    margin: 0 1rem;
    list-style: none;
    font: 1.5rem Blinker;
    color: #4D6A6D;
    cursor: pointer;
    position: relative;
    padding-top: 10px;
}
footer img{
    width: 90%;
}
footer img:hover{
    transform: scale(1.05);
}
footer h3{
    font: 1.5rem Blinker;
    color: #f2f2f2;
}