#projetos h1{
    font: 2.5rem "League Spartan";
    color: #4D6A6D;
    margin-bottom: 6rem;
}
#projetosConteudo{
    margin: 2rem 5rem;
    display: grid;
    grid-template-columns: 1fr  1fr;
    gap: 5rem;
}
#InformacaoSuperTrunfoTitulo{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 6rem;
}
#InformacaoSuperTrunfoTitulo img{
    width: 35%;
}

#InformacaoSuperTrunfoTitulo h2{
    background-color: #4D6A6D;
    border-radius: 4px;
    font: 1.5rem Blinker;
    color: white;
    padding: 1rem 2rem;
    margin-left: 2rem;
}


#InformacaoSuperTrunfo p{
    font: 1.5rem Blinker;
    color: #4D6A6D;
    text-align: justify;
}

#InformacaoSuperTrunfo a{
    border-radius: 4px;
    padding: 0.5rem 1rem;
    background-color: #4D6A6D;
    font: 1.5rem Blinker;
    color: #fff;
    text-align: center;
}

#InformacaoSuperTrunfo a:hover{
    background-color: #2A3A3C;
    color: #D0DDD7;
}



.galeria{
    background-color: #4D6A6D;
    border-radius: 4px;
}



.imgEvidente img {
    width: 100%;     /* Keeps the image's aspect ratio */
    display: block;      /* Removes extra spacing below the image */
    margin-bottom: 10px; /* Space between main image and supporting images */
}

.imgSuporte {
    display: flex;             /* Creates a flexible layout for the images */
    flex-wrap: wrap;
    margin: 0 3px ;
    justify-content: space-between;
}

.imgSuporte img{
    width: 50%;    /* Sets the width to half the container width minus a small gap */
    height: auto;              /* Keeps the aspect ratio */
    margin-bottom: 10px;       /* Spacing between supporting images */
    cursor: pointer;         /* Change cursor to a pointer on hover */
}

.imgSuporte img:hover{
    transform: scale(1.03);
}

@media (max-width: 1520px) {
    #InformacaoSuperTrunfoTitulo{
        margin-bottom: 3rem;
    }
    #InformacaoSuperTrunfo p{
        font-size: 1rem ;
    }
    #InformacaoSuperTrunfo a{
        
        font-size: 1rem;
    }
  }


  @media (max-width: 1200px) {
    #projetos h1 {
        font-size: 2rem;
    }
    #InformacaoSuperTrunfo p{
        font-size: .85rem ;
    }
    #InformacaoSuperTrunfoTitulo h2{
        font-size: 1.2rem;
        padding: .7rem 1rem;
        margin-left: 0;
    }

}
@media (max-width: 1200px) {
    #projetos h1 {
        font-size: 2rem;
    }

    #projetos span{
        display: none;
    }

}



